
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="font-weight: bold; margin-top: 30px;">Chào mừng Admin</h2>
@Html.ActionLink("Quán lý mặt hàng", "Sanpham", "Admin")
<br />
@Html.ActionLink("Quán lý danh mục", "Danhmuc", "Admin")

