<a href="@Url.Action("Giohang","Giohang")" id="btn_giohang" style="height: 46px; margin-top: 7px; margin-left: 150px; cursor: pointer; float:left ; text-decoration: none; font-size: 15px">
    <img src="~/images/9.png" style="margin-left: 20px"/>Giỏ Hàng (@ViewBag.Tongsoluong)
</a>
