
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutThongTin.cshtml";
}
<style>
    .content
    {
        height: 1750px;
        margin-top: -18px;
    }
    .content .nd{
        width: 900px; 
        margin: 0 auto;
    }
    .content .nd img
    {
       margin-left: 175px;
       margin-top:30px;
       margin-bottom: 30px;
    }
    .content .nd .nd1
    {
        height: 130px;
        width: 300px;
        margin-left: 175px;
    }
    .content .nd .nd1 p
    {
        font-size: 18px;
        font-weight: bold;
    }
    p { text-align: justify; font-size: 16px;}
</style>
<div class="content" >
    <h2 style="text-align: center; color: blue; padding-top: 10px; margin-bottom: 30px;">GIỚI THIỆU VỀ CHÚNG TÔI</h2>
    <div class="nd">
        <p>Lời đầu tiên <strong>HK Shop</strong> xin kính chào quý khách và xin chân thành cảm ơn quý khách trong suốt thời gian qua đã sử dụng và ủng hộ những dịch vụ của chúng tôi. Đến với <strong>HK Shop</strong>, Quý khách sẽ được sở hữu những sản phẩm văn phòng phẩm ưng ý, hữu dụng nhất phục vụ việc công tác văn phòng của quý vị với giá cả hợp lý nhất mà không phải mất công ra ngoài chọn lựa. Trên thị trường hiện nay mặt hàng văn phòng phẩm khá đa dạng về chủng loại cũng như thật giả về chất lượng dường như rất khó phân biệt. Chính vì thế Văn Phòng Phẩm Phú Khiết sẽ luôn đồng hành cùng quý khách, chúng tôi sẽ tư vấn, giúp đỡ để quý khách có thể lựa chọn được những mặt hàng tốt nhất và có giá trị sử dụng phù hợp với giá của từng sản phẩm.</p>
        <img src="~/images/nen.jpg"  width="600px" height="400px"/>
        <p>
            <strong>HK Shop</strong> chuyên cung cấp các mặt hàng Văn phòng phẩm, Vật tư Văn phòng, Ấn phẩm văn phòng… cho các công ty, Cơ quan,trường học, Bệnh Viện… tại Thành phố Hồ Chí Minh. Với phương châm “Nhanh nhất và rẻ nhất” cùng đội ngũ nhân viên nhiệt tình, thân thiện. Chúng Tôi hy vọng sẽ mang đến sự hài lòng cho Quý Khách.           
        </p>
        <p>
            Với phương châm "lấy công làm lời". Công ty TNHH Phú Khiết xin chân thành cảm ơn Quý khách hàng đã tín nhiệm và quan tâm đến sản phẩm của Công ty chúng tôi. Nay, Chúng tôi xin hân hạnh gửi đến Quý khách hàng bảng báo giá về các sản phẩm văn phòng. Văn Phòng Phẩm Giá Rẻ Online Cao Cấp Đa Dạng Thiết Bị.
        </p>
        <img src="~/images/nen2.jpg" width="600px" height="400px"/>
        <p><strong>Sử dụng dịch vụ HK Shop Quý Khách sẽ được đến với:</strong></p>
            <p>- Sản phẩm có chất lượng tốt nhất.</p>
            <p>- Giá cả cạnh tranh nhất.</p>
            <p>- Dịch vụ hậu mãi chu đáo nhất.</p>
            <p>- Giao hàng nhanh và thanh toán linh hoạt.</p>
        <p>Ngoài ra Khách hàng còn được hưởng chiết khấu cho đơn hàng có giá trị lớn.</p>
        <p>Hãy để cho chúng tôi được phục vụ và gánh bớt một phần gánh nặng về công tác hành chính, văn phòng của quý khách.</p>
        <p style="color:red; font-size: 18px; font-weight:bold">Sự hài lòng của Quý Khách hàng là nguồn động lực lớn cho chúng Tôi !</p>
        <p style=" font-size: 16px; font-weight:bold">Mọi chi tiết xin liên hệ:</p>
        <div class="nd1">
            <p style="color: darkorange; font-size: 26px; font-weight:bold">HK Shop</p>
            <p>Địa chỉ: 111 - Quận 9 - TPHCM</p>
            <p>Diện thoại: 0909 112 113 - 0909 009 009</p>
            <p>Mail: <a href="#">hkshop123@gmail.com</a></p>
        </div>
    </div>
</div>
